* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: #000;
  background-color: #fff;
}

.header {
  background-color: #f5c400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  margin-left: 30px;
}

.menu a:hover {
  text-decoration: none;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
  gap: 60px;
}

.hero-image img {
  width: 600px;
  
}

.hero-text {
  max-width: 550px;
}

.hero-text h1 {
  font-family: 'Anton', sans-serif;
  font-size: 65px;
  font-weight: 100;
  margin: 0 0 20px;
  line-height: 1.0;
}

.hero-text p {
  font-size: 20px;
  color: #333;
  line-height: 1.0;
}

.btn {
  display: inline-block;
  background-color: #f5c400;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 24px;
  margin-top: 20px;
}

.btn:hover {
  background-color: #f5c400;
}

.section-help {
  background-color: #f5c400;
  padding: 80px 100px;
}

.content-help {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.text-help h1 {
  font-family: 'Anton', sans-serif;
  font-size: 65px;
  font-weight: 100;
  margin: 0 0 20px;
  line-height: 1.0;
}

.text-help p {
  font-size: 20px;
  color: #333;
  line-height: 1.0;
  
}

.img-help {
  text-align: right;
  flex: 1;
}